# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 🧪 Ambiente virtual
# =========================
venv/

# =========================
# 🔐 Variáveis sensíveis
# =========================
.env

# =========================
# ⚙️ Configurações locais
# =========================
.streamlit/

# =========================
# 📂 Dados do projeto
# (mantém as pastas, ignora os arquivos)
# =========================
csv/*
!csv/.gitkeep

xlsx/*
!xlsx/.gitkeep

# =========================
# 🧠 VS Code
# =========================
.vscode/

# =========================
# 📦 Sistema operacional
# =========================
.DS_Store
Thumbs.db